@import "~bootstrap/scss/bootstrap";
@import "../../node_modules/rfs/sass";
@import "config";
@import "responsive";
@import "home";
@import "footer";
@import "contact";
@import "services";
@import "navbar";

body {
  background-color: $main;
  color: $white;
  position: relative;
  overflow: overlay;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $sub-main;
    border-radius: 20px;
    border: 4px solid $sub-main;
    background-clip: content-box;
  }
}
svg {
  height: 34px;
  width: 34px;
  margin-left: 5px;
  margin-right: 5px;
}
.st0 {
  fill: #fff;
}
h1 {
  margin: 0;
  letter-spacing: 3vw;
}
h2 {
  margin: 0;
  letter-spacing: 0.5vw;
}
h3 {
  margin: 0;
}
p {
  font-family: "Sentient", serif;
  margin: 0;
  padding: 0;
  @include font-size(1.3rem);
  @include rfs(2px, letter-spacing);
  @include rfs(1.5, line-height);
}
.bg {
  margin: 0;
  padding: 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    background: url(../assets/bg.png) top center repeat-y;
    background-size: cover;
    background-repeat: repeat-y;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    z-index: -1;
  }
}
.category-container {
  @include padding-top(5rem);
  @include padding-bottom(5rem);
}
.header_section {
  @include margin-bottom(2rem);
}
.about-section,
.services-section {
  @include margin-top(2rem);
  @include margin-bottom(2rem);
}
.sub-title {
  color: $sub-main;
  @include font-size(18px);
  @include rfs(2px, letter-spacing);
  text-transform: uppercase;
  position: relative;

  p {
    font-family: "BebasKai";
  }
  &::before {
    content: "";
    background: $sub-main;
    height: 2px;
    left: -2.5em;
    position: absolute;
    top: 50%;
    width: 1.6rem;
  }
}

.title {
  @include font-size(3rem);
  text-transform: capitalize;
  font-family: $mainfont;
  font-weight: 900;
  @include rfs(2px, letter-spacing);
}
.typtitle {
  @include font-size(2rem);
  text-transform: lowercase;
  font-family: "BebasKai";
  font-weight: 900;
  @include rfs(2px, letter-spacing);
  color: $sub-main;
}

/* ABOUT */
.about-section {
  position: relative;
  overflow: hidden;
}
.box {
  height: 250px;
  width: 300px;
  @include margin-top(2rem);
  @include margin-bottom(2rem);
  border: 0;
  text-align: center;
  // stroke: #fff;
  // stroke-width: 0.5px;
  // stroke-linejoin: round;
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    @include padding-top(2rem);
    @include padding-bottom(2rem);
    @include font-size(1.5rem);
    @include rfs(0.1vw, letter-spacing);
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 0.1px #fff;
    transition: ease;
    cursor: default;
    &:hover {
      color: #fff;
      -webkit-text-stroke: 0;
    }
  }
}
.card {
  background: transparent !important;
}

/* CUBE ANIMATION */
.cube {
  position: absolute;
  overflow: hidden;
  top: 80vh;
  left: 45vw;
  @include rfs(10px, width);
  @include rfs(10px, height);
  border: solid 1px darken(#0040c1, 8%);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;

  &:nth-child(2n) {
    border-color: lighten(#0040c1, 10%);
  }

  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }

  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  &:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  &:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}
@media (max-width: 1250px) and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .title {
    font-size: 1.85rem;
  }
  .typtitle {
    font-size: 1.3rem;
  }
  .sub-title {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .frame {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title {
    font-size: 1.8rem;
  }
  .typtitle {
    font-size: 1rem;
  }
  .sub-title {
    font-size: 16px;
  }
  .box {
    margin: 5px;
    padding: 5px;
    width: 350px;
    h1 {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1rem;
    }
  }
}
